*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(253, 167, 167);
    
}
h2{
   text-align: center;
   color: crimson;
}

div {
    width: 150px;
    height: 200px;
    text-align: center;
    font-size: 2em;
    margin: 10px;
    float: left;
    text-align: center;
}
.one{
    background-color: rgb(203, 233, 34);
}
.two{
    background-color: rgb(203, 233, 34);
}
.three{
        background-color: rgb(203, 233, 34);
}
.four{
    background-color: rgb(203, 233, 34);
}
.five{
    background-color: rgb(203, 233, 34);
}
.six{
    background-color: rgb(203, 233, 34);
}
.seven{
    background-color: rgb(203, 233, 34);
}
