body{
    margin: 0;
    padding: 0;
    animation: pulse infinite;
}
h1{
    text-align: center;
    color: gray;
}
.container{
    width: 50%;
    height: 100px;
    background: rgb(253, 252, 252);
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding: 20px 40px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(12, 12, 12, 0.5);
}
.progress-bar{
    width: 506px;
    height: 26px;
    background-color: rgb(196, 192, 194);
    border-radius: 13px;
    padding: 3px;
    display: flex;
    margin: auto;
}
.progress{
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    width: 500px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(12, 12, 12);
}
.button{
    font-weight: bolder; 
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    border-radius: 5px;
}