*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#wrapper {
    margin: 0 auto;
    width: 98%;
    max-width: 1000px;
    height: 98vh;
}

.cat {
    display: inline-block;
    width: 50%;
    height: auto; 
    transform: scale(1);
    animation: cat 8s infinite;
}

.peppa {
    width: 30%;
    height: auto; 
    animation: peppa 10s infinite;
}

.peppa-two{
    width: 30%;
    height: auto; 
    animation: peppa-two 10s infinite;
}


@keyframes cat {
    0% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
    25% {transform: rotateZ(360deg) scale(1.5); top: 400px; left: 200px;}
    50% {transform: rotateZ(3080deg) scale(.5); top: 300px; left: 600px;}
    75% {transform: rotateZ(360deg) scale(.5); top: 100px; left: 1200px;}
    100% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
}


@keyframes peppa {
    0% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
    25% {transform: rotateZ(360deg) scale(1.5); top: 400px; left: 200px;}
    50% {transform: rotateZ(300deg) scale(.5); top: 300px; left: 600px;}
    75% {transform: rotateZ(360deg) scale(.5); top: 100px; left: 1200px;}
    100% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
}

@keyframes peppa-two {
    0% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
    10% {transform: rotateZ(360deg) scale(1.5); top: 400px; left: 200px;}
    50% {transform: rotateZ(34deg) scale(.5); top: 300px; left: 600px;}
    80% {transform: rotateZ(100deg) scale(.5); top: 100px; left: 1200px;}
    100% {transform: rotateZ(0deg) scale(1); top: 0px; left: 0px;}
}

