body{
    background-color: black;
}
h1{
    text-align:center;
    
}
#top-menu{
    background-color: rgb(27, 31, 25);
    padding: 10px;
}
.main-menu-item{
    list-style: none;
}

li{
    text-align: center;
    margin: 10px;
    font-size: x-large;
    font-family:"Baloo Bhaijaan";
    
}
a{
    color: rgb(250, 61, 156);
    padding: 4px;
    margin: 3px;
}
a:hover{
    color: rgb(38, 0, 255);
    background-color: rgb(252, 0, 168);
}
.main-menu-item >a{
    display: inline-block;
    width: 250px;
    padding: 5px;
    text-decoration:none;
    background-color: rgb(225, 0, 255);
    color: blue;
}
.main-menu-item>a:hover{
    color:royalblue;
    background-color: rgb(170, 226, 15);
}
.site-title{
    text-decoration: none;
    color: rgb(81, 255, 0);
    font-family: "Bungee Outline" ;
    font-size: 70px;
    margin: 10px;
}

.page-title{
    font-size: 45px;
    color: rgb(255, 153, 0);
    font-family: "Sedgwick Ave Display";
    text-align: center;
}
.left{
    text-align: left;

}
p{
    color: rgb(255, 255, 255);
    font-family: "Baloo Bhaijaan";
    font-size: 25px;
    text-align: center;
}